.container {
    background: black;
    color: white;

    
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
   
}

img {
    
    
    height: 50px;
    width: 50px;
    /* width: 150px; */
    
  }

 