
.container {
  background-color:gray;
  height: 35px;
}

.flushRight {
  flex: 1 1 auto;
}

/* .btn {
  margin: 5px;
  border-radius: 5px;
  border: solid 1px black;
} */

.lbl {
  background-color: #E1B329;
}