<div class="container">
    <app-header></app-header>
    <app-nav></app-nav>
    <router-outlet></router-outlet>
  <!--   <app-footer></app-footer> -->
</div>


<dialog id="dlgErr">

    <div fxFlex fxLayout="column">

        <h1>Errors</h1>

        <ol>
            <div *ngFor="let err of errList;">
                <li> {{err}} </li>
            </div>
        </ol>



        <div fxLayout="row" fxLayoutAlign="end center" class="btn">

            <button (click)="onErrClose();">Ok</button>
        </div>
    </div>

</dialog>

<dialog id="dlgAuth">

    <div *ngIf="dlgAuthMode===1">

        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>LogIn via Email</h1>
        </div>

        <div fxLayout="row" style="text-align: center;">
            Please provide an email address to receive an authorisation pin for access.
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column">
                <label for="email">Email</label>
                <input style="width: 330px;" id="email" name="email" type="email" [(ngModel)]="email" />

            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="center center" class="btn">
            <button [disabled]="disableAuthEmail()" (click)="onAuthEmail();">Ok</button>
        </div>

    </div>


    <div *ngIf="dlgAuthMode===2">

        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Enter PIN</h1>
        </div>

        <div fxLayout="row" style="text-align: center;">
            Please provide the PIN code that was sent to the {{email}}.
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column">
                <label for="pin">PIN</label>
                <input style="width: 100px;" id="pin" name="pin" type="pin" [(ngModel)]="pin" />

            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="center center" class="btn">
            <button [disabled]="disableAuthPin()" (click)="onAuthPin();">Ok</button>
        </div>

    </div>





</dialog>

<dialog id="dlgSubmit">


    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>Submit Data</h1>
    </div>

    <div fxLayout="row" style="text-align: center;">
        Data provided will be saved on the server and available for you.
    </div>

    <div *ngIf="clientName=='optimusMinds'">

   
    <div class="chkBoxes">

        <input class="leftA" id="declare" name="declare" type="checkbox" [(ngModel)]="declareChk" />
        <label class="rightA" for="declare"> I declare that the infomation provided by me to be true.</label>

        <input class="leftA" id="share" name="share" type="checkbox" [(ngModel)]="shareChk" />
        <label class="rightA" for="declare">I allow for my information to be shared with prospective
            client\s</label>

        <br>

       
    </div>

    <div  *ngIf="docs.length > 0" fxLayout="row" style="text-align: center;">
        Documents to be uploaded :
    </div>

     
    <!-- <div *ngIf="docs.length > 0"> Documents to be uploaded : </div> -->
    <ol>
        <div *ngFor="let doc of docs;">
            <li> {{doc.docTable}} : {{doc.docName}} </li>
        </div>
    </ol>
    
</div>

    <div fxLayout="row" fxLayoutAlign="center center" class="btn">
        <button (click)="cancelSubmit();">Cancel</button>
        <button [disabled]="disableSubmit()" (click)="okSubmit();">Ok</button>
    </div>

</dialog>

<dialog id="dlgSubmitOld">


    <div fxLayout="row">


        <div fxFlex fxLayout="column">

            <h1>Submit</h1>



            <div class="chkBoxes">

                <input class="leftA" id="declare" name="declare" type="checkbox" [(ngModel)]="declareChk" />
                <label class="rightA" for="declare"> I declare that the infomation provided by me to be true.</label>

                <input class="leftA" id="share" name="share" type="checkbox" [(ngModel)]="shareChk" />
                <label class="rightA" for="declare">I allow for my information to be shared with prospective
                    client\s</label>

                <br>
            </div>

            <div *ngIf="docs.length > 0"> Documents to be uploaded : </div>
            <ol>
                <div *ngFor="let doc of docs;">
                    <li> {{doc.docTable}} : {{doc.docName}} </li>
                </div>
            </ol>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="btn">
        <button (click)="cancelSubmit();">Cancel</button>
        <button [disabled]="disableSubmit()" (click)="okSubmit();">Ok</button>
    </div>






</dialog>